.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
body {
  background-color: #f9f9f9;
}
.div1 {
  padding: 15px;
  background-color: #d8d8d8;
  height: 35%;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  overflow-y: scroll;
  grid-area: 1 / 1 / 2 / 6;
}
.div2 {
  height: 115%;
  background-color: white;
  border: gray 2px solid;
  border-radius: 10px;
  grid-area: 2 / 2 / 3 / 5;
}
.div3 {
  grid-area: 2 / 1 / 5 / 2;
}
.div4 {
  grid-area: 2 / 5 / 5 / 6;
}
.div5 {
  position: fixed;
  padding: 0.02%;
  width: 100%;
  background-color: #b0b0b0;
  left: 0px;
  bottom: 0px;
  height: 10%;
  grid-area: 5 / 1 / 6 / 6;
}
.div6 {
  height: 100%;
  margin-top: 50px;
  background-color: white;
  border: gray 2px solid;
  border-radius: 10px;
  grid-area: 3 / 2 / 4 / 5;
}
.div7 {
  grid-area: 4 / 2 / 5 / 5;
}
.headerH {
  margin-left: 80px;
}
.img {
  float: left;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.img::after {
  opacity: 0.6;
}
.enterURL {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.inputUrlLabel {
  text-align: center;
  font-weight: bold;
}
.inputDiv {
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.urlInput {
  width: 40%;
  height: 18px;
  border-radius: 5px;
  border: black 1px solid;
  transition: border 0.35s ease-in-out;
  transition: box-shadow 0.35s ease-in-out;
}
.urlInput:focus {
  outline: none;
  border: rgb(116, 170, 204) 1px solid;
  box-shadow: 0px 0px 4px 1px grey;
}
.standartButton {
  border: none;
  padding: 5px 16px;
  border-radius: 4px;
  color: white;
  background-color: rgb(111, 111, 255);
  transition: 0.25s;
}
.standartButton:hover {
  box-shadow: 0px 0px 4px 1px grey;
}
.urlInputCastom {
  width: 30%;
  border-radius: 5px;
  border: black 1px solid;
  height: 18px;
  transition: border 0.35s ease-in-out;
  transition: box-shadow 0.35s ease-in-out;
}
.urlInputCastom:focus {
  outline: none;
  border: rgb(116, 170, 204) 1px solid;
  box-shadow: 0px 0px 4px 1px grey;
}
.inputDivCastom {
  text-align: center;
  /* margin: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
